/* Elementos inserido via JS */
.btnSecundariosContainer{
    display: flex;
    position: relative;
    top: 50%;
    gap: 2rem;
    padding: 1rem;
    height: 6rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.btnSecundarios{
    display: flex;
    position: relative;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.btnSecundariosAzul{
    background-color: rgb(55, 66, 160);
}

.btnSecundariosVermelho{
    background-color: rgb(194, 44, 44);
}

.btnSecundariosPreto{
    background-color: rgb(31, 31, 31);
}