.containerBtnSecundario{
    display: flex;
    width:20%;
    background-color: red;
    text-align: center;
}

.containerModalBtnSecundario{
    display: flex;
    width: 50%;
    justify-content: space-between;
    background-color: blue;
    border-radius: 10px;
}

.btnSecundario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100px;
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: hotpink;
}
